@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --supervisor-color: #2ec4b6;
  --team-builder-color: #ff5d5d;
  --calculator-color: #3f8cff;
  --karma-color: #ffa500;
}
h1 {
  margin: 0;
 
  
}
header{
  margin-top: 30px;
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}


.firstTitle {
  text-align: center;
  font-weight: 200;
  color: #707178;
}
.secondTitle {
  text-align: center;
  color: #4d4e62;
}
.abstract {
  font-size: 14px;
  color: #c0bfc3;
  max-width: 470px;
  margin: 20px auto 0;
  text-align: center;
}
main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  min-width: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #deeaf1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top: 5px solid var(--border-color);
}
.card div {
  text-align: end;
}
.card p {
  max-width: 325px;
  margin: 10px 0 20px;
}
.card h3{
  margin: 0;
}
.karma {
  grid-column: 2 / 3;
}
.supervisor {
  transform: translate(0, 50%);
  --border-color: var(--supervisor-color);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
}
.calculator {
  --border-color: var(--calculator-color);
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
}
.teamBuilder {
  --border-color: var(--team-builder-color);
}
.karma {
  --border-color: var(--karma-color);
}
@media screen and (max-width: 400px) {
  main{
    display: flex;
    flex-direction: column;
  }
  .supervisor {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}
  .calculator {
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
  }
  .card{
    width: 80%;
    margin: auto;
  }
  h1{
    font-size: 1.5rem;
  }
  .abstract{
    margin-left: 20px;
    margin-right: 20px;
  }
  .container{
    margin-bottom: 50px ;
  }
}